<section class="section">
    <div class="container">
        <h1 class="title">
            Link Móveis
        </h1>
        <p class="subtitle">
            Lista de Produtos
        </p>
    </div>

    <div class="container mt-4">
        <button class="button is-rounded">
            <a href="\admin\produtos\add">
                Cadastrar produto
            </a>
        </button>
    </div>
</section>